table,th,td{
    border: 0.1px solid black;
    text-align: center;
    margin: 20px 180px;
    padding: 3px;
}
h2{
    text-align: center;
}

#sub1{
    color: blue;
    font-weight: bold;
}
#sub2{
    color: orange;
    font-weight: bold;
}
#sub3{
    color: purple;
    font-weight: bold;
}
#sub4{
    color: green;
    font-weight: bold;
}
#sub5{
    color: red;
    font-weight: bold;
}
#swa1{
    color: red;
    font-weight: bold;
}