.container{
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    color: aqua;
    padding: 20px;
}
.item{
    background-color: brown;
    padding: 20px;
     border: 1px solid black;
    margin: 10px;
    

}

    .box
{
    height: 200px;
    width: 300px;
    padding: 20px;
    border: 1px solid black;
    margin: 30px;
    background-color:#ed58b6d8;
}
